<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<style>
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
</style>
<div class="row">
  <div class="col-md-6">
    Login to play with the functionality!
    <br/>
    Check out the code for this website and the Spark firmware on <a href="https://github.com/anthony-ngu/spark-rgb" target="_blank">Github!</a>
    <br/>
    Made by: <a href="http://blog.anthonyngu.com" target="_blank">Anthony Ngu</a>
    <br/>
    <br/>
    <link rel="stylesheet" href="stylesheets/colpick.css" type="text/css"/>
    <div id="spark-login">
    </div>
    <div id="toggle-lights" style="visibility: hidden;">
      <div id="picker"></div>
      <br/>
      
      RGB Value: <input id="light-value" type="text" name="light-value" value="255,255,255"/><br/><br/><br/>

      <div class="row">
        <div class="col-md-6 inputLabel">
          Spark Device Number:
        </div>
        <div class="col-md-6">
          <input id="sparkDeviceNumber" type="text" name="sparkDeviceNumber" value="0"/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 inputLabel">
          # of LEDs:
        </div>
        <div class="col-md-6">
          <input id="length" type="text" name="length" value="48"/>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 inputLabel">
          All Brightness:
        </div>
        <div class="col-md-6">
          <input id="allBrightness" type="range" value="100" min="0" max="100">
        </div>
        <div class="col-md-3">
          <input id="allBrightnessLabel" type="text">
        </div>
      </div>
      <div>
        <h4>Box Brightness Settings (Divides the strip into 5 sections [bottom,right,back,left,top])</h4>
        <div class="row">
          <div class="col-md-3 inputLabel">
            Bottom Brightness:
          </div>
          <div class="col-md-6">
            <input id="bottomBrightness" type="range" value="100" min="0" max="100"> 
          </div>
          <div class="col-md-3">
            <input id="bottomBrightnessLabel" type="text">
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3 inputLabel">
            Right Brightness:
          </div>
          <div class="col-md-6">
            <input id="rightBrightness" type="range" value="100" min="0" max="100">
          </div>
          <div class="col-md-3">
            <input id="rightBrightnessLabel" type="text">
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3 inputLabel">
           Back Brightness:
          </div>
          <div class="col-md-6">
            <input id="backBrightness" type="range" value="100" min="0" max="100"> 
          </div>
          <div class="col-md-3">
            <input id="backBrightnessLabel" type="text">
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3 inputLabel">
            Left Brightness:
          </div>
          <div class="col-md-6">
            <input id="leftBrightness" type="range" value="100" min="0" max="100">
          </div>
          <div class="col-md-3">
            <input id="leftBrightnessLabel" type="text">
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3 inputLabel">
            Top Brightness:
          </div>
          <div class="col-md-6">
            <input id="topBrightness" type="range" value="100" min="0" max="100">
          </div>
          <div class="col-md-3">
            <input id="topBrightnessLabel" type="text">
          </div>
        </div>
      </div>
      <button onclick="toggleLights()">Toggle Lights</button>
      <button onclick="seahawksLights()">Seahawks Lights</button>
      <button onclick="animateColors()">Animate</button>
    </div>
  </div>
  <div class="col-md-6">
    <div id="result">
    </div>
    <br/>
    <div id="lasterror">
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- spark-rgb -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px;float:right;"
         data-ad-client="ca-pub-9662699213516852"
         data-ad-slot="5460966527"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//cdn.jsdelivr.net/sparkjs/0.2.4/spark.min.js"></script> <!-- The script for SparkJS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="javascripts/colpick.js" type="text/javascript"></script>

<script>
  var bottomBrightnessLabel = document.getElementById("bottomBrightnessLabel");
  var bottomBrightness = document.getElementById("bottomBrightness");
  bottomBrightnessLabel.value = $('#bottomBrightness').val();
  $('#bottomBrightness').on('input', function () {
      bottomBrightnessLabel.value =$(this).val();
  });
  $('#bottomBrightnessLabel').on('change', function () {
      bottomBrightness.value =$(this).val();
  });

  var rightBrightnessLabel = document.getElementById("rightBrightnessLabel");
  var rightBrightness = document.getElementById("rightBrightness");
  rightBrightnessLabel.value = $('#rightBrightness').val();
  $('#rightBrightness').on('input', function () {
      rightBrightnessLabel.value =$(this).val();
  });
  $('#rightBrightnessLabel').on('change', function () {
      rightBrightness.value =$(this).val();
  });

  var backBrightnessLabel = document.getElementById("backBrightnessLabel");
  var backBrightness = document.getElementById("backBrightness");
  backBrightnessLabel.value = $('#backBrightness').val();
  $('#backBrightness').on('input', function () {
      backBrightnessLabel.value =$(this).val();
  });
  $('#backBrightnessLabel').on('change', function () {
      backBrightness.value =$(this).val();
  });

  var leftBrightnessLabel = document.getElementById("leftBrightnessLabel");
  var leftBrightness = document.getElementById("leftBrightness");
  leftBrightnessLabel.value = $('#leftBrightness').val();
  $('#leftBrightness').on('input', function () {
      leftBrightnessLabel.value =$(this).val();
  });
  $('#leftBrightnessLabel').on('change', function () {
      leftBrightness.value =$(this).val();
  });

  var topBrightnessLabel = document.getElementById("topBrightnessLabel");
  var topBrightness = document.getElementById("topBrightness");
  topBrightnessLabel.value = $('#topBrightness').val();
  $('#topBrightness').on('input', function () {
      topBrightnessLabel.value =$(this).val();
  });
  $('#topBrightnessLabel').on('change', function () {
      topBrightness.value =$(this).val();
  });

  var allBrightnessLabel = document.getElementById("allBrightnessLabel");
  var allBrightness = document.getElementById("allBrightness");
  allBrightnessLabel.value = $('#allBrightness').val();
  $('#allBrightness').on('input', function () {
      allBrightnessLabel.value =$(this).val();
      bottomBrightnessLabel.value =$(this).val();
      rightBrightnessLabel.value =$(this).val();
      backBrightnessLabel.value =$(this).val();
      leftBrightnessLabel.value =$(this).val();
      topBrightnessLabel.value =$(this).val();

      bottomBrightness.value =$(this).val();
      rightBrightness.value =$(this).val();
      backBrightness.value =$(this).val();
      leftBrightness.value =$(this).val();
      topBrightness.value =$(this).val();
  });
  $('#allBrightnessLabel').on('change', function () {
      allBrightness.value =$(this).val();
      bottomBrightnessLabel.value =$(this).val();
      rightBrightnessLabel.value =$(this).val();
      backBrightnessLabel.value =$(this).val();
      leftBrightnessLabel.value =$(this).val();
      topBrightnessLabel.value =$(this).val();

      bottomBrightness.value =$(this).val();
      rightBrightness.value =$(this).val();
      backBrightness.value =$(this).val();
      leftBrightness.value =$(this).val();
      topBrightness.value =$(this).val();
  });


  var result = document.getElementById("result");
  var lasterror = document.getElementById("lasterror");

  function pad(num, size) {
      var s = "000" + num;
      return s.substr(s.length-size);
  }

  $('#picker').colpick({
    flat:true,
    layout:'RGB',
    submit:false,
    color:{r:255, g:255, b:255},
    onChange:function(hsb,hex,rgb,el,bySetColor) {
      //eg. {r:255, g:0, b:0})
      document.getElementById("light-value").value = pad(rgb.r,3) + ',' + pad(rgb.g,3) + ',' + pad(rgb.b,3);
    }
  });

  var device;
  var device_list;
  // This gets called when a user finishes the login flow.
  sparkLogin(function(data){
      // Your code here
      result.innerHTML = "You are now logged in! </br> Give us a moment while we find your devices.\n";
      document.getElementById("spark-login").style.display = 'none';
      document.getElementById("toggle-lights").style.visibility = 'visible';
      console.log(data);
      console.log(spark);
      
      spark.listDevices(function(err, devices) {
        device_list = devices;

        for (var i = 0; i < devices.length; i++)
        {
          if (i==0)
          {
            result.innerHTML = "";
          }
          device = devices[i];

          console.log('Device ' + i + ' name: ' + device.name);
          result.innerHTML += '<br/>Device ' + i + ' name: ' + device.name + '</br>';
          console.log('- connected?: ' + device.connected);
          result.innerHTML += '- connected?: ' + device.connected + '</br>';
        }
      });
  });
  
  function toggleLights(){
    console.log(device);
    console.log(device_list);
    device = device_list[document.getElementById("sparkDeviceNumber").value];
    console.log("toggleLights was called");
    if(device.connected == true)
    {
      var input = pad(document.getElementById("length").value,3)+
       ',' + document.getElementById("light-value").value +
       ',' + pad(bottomBrightnessLabel.value,3) +
       ',' + pad(rightBrightnessLabel.value,3) +
       ',' + pad(backBrightnessLabel.value,3) +
       ',' + pad(leftBrightnessLabel.value,3) +
       ',' + pad(topBrightnessLabel.value,3)
      console.log(input);
      device.callFunction('switchColor', input, function(err, data) {
        if (err) {
          console.log('An error occurred:', err);
          lasterror.innerHTML = 'An error occured: ' + err;
        } else {
          console.log('Function called succesfully:', data);
          lasterror.innerHTML = 'Function called succesfully ' + data;
        }
      });
    }else{
      console.log('Tried to change the color, but the spark was not connected.');
      lasterror.innerHTML = 'Cannot make change your lights because your Spark is not connected';
    }
  }

  function seahawksLights(){
    console.log(device);
    console.log(device_list);
    device = device_list[document.getElementById("sparkDeviceNumber").value];
    console.log("seahawksLights was called");
    if(device.connected == true)
    {
      device.callFunction('seahawks', pad(document.getElementById("length").value,3), function(err, data) {
        if (err) {
          console.log('An error occurred:', err);
          lasterror.innerHTML = 'An error occured: ' + err;
        } else {
          console.log('Function called succesfully:', data);
          lasterror.innerHTML = 'Function called succesfully ' + data;
        }
      });
    }else{
      console.log('Tried to change the color, but the spark was not connected.');
      lasterror.innerHTML = 'Cannot make change your lights because your Spark is not connected';
    }
  }

  function animateColors(){
    console.log(device);
    console.log(device_list);
    device = device_list[document.getElementById("sparkDeviceNumber").value];
    console.log("animate was called");
    if(device.connected == true)
    {
      device.callFunction('animate', pad(document.getElementById("length").value,3), function(err, data) {
        if (err) {
          console.log('An error occurred:', err);
          lasterror.innerHTML = 'An error occured: ' + err;
        } else {
          console.log('Function called succesfully:', data);
          lasterror.innerHTML = 'Function called succesfully ' + data;
        }
      });
    }else{
      console.log('Tried to change the color, but the spark was not connected.');
      lasterror.innerHTML = 'Cannot make change your lights because your Spark is not connected';
    }
  }
</script>