<style>
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
</style>
Login to play with the functionality!
<link rel="stylesheet" href="stylesheets/colpick.css" type="text/css"/>
<div id="spark-login">
</div>
<div id="result">
</div>
<div id="toggle-lights" style="visibility: hidden;">
  <div id="picker"></div>
  <input id="light-value" type="text" name="light-value">
  <button onclick="toggleLights()">Toggle Lights</button>
<div>
<div id="info">
  <p id="info_start">Click on the microphone icon and begin speaking.</p>
  <p id="info_speak_now">Speak now.</p>
  <p id="info_no_speech">No speech was detected. You may need to adjust your
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
      microphone settings</a>.</p>
  <p id="info_no_microphone" style="display:none">
    No microphone was found. Ensure that a microphone is installed and that
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a> are configured correctly.</p>
  <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
  <p id="info_denied">Permission to use microphone was denied.</p>
  <p id="info_blocked">Permission to use microphone is blocked. To change,
    go to chrome://settings/contentExceptions#media-stream</p>
  <p id="info_upgrade">Web Speech API is not supported by this browser.
     Upgrade to <a href="//www.google.com/chrome">Chrome</a>
     version 25 or later.</p>
</div>
<div class="center">
  <button id="start_button" onclick="startButton(event)">
    <img id="start_img" src="images/mic.gif" alt="Start"></button>
</div>
<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>
<div class="center" style="display:none;" >
  <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>&nbsp;&nbsp;<select id="select_dialect"></select>
  </div>
</div>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="javascripts/dictation.js"></script>

<script src="//cdn.jsdelivr.net/sparkjs/0.2.4/spark.min.js"></script> <!-- The script for SparkJS -->
<script src="javascripts/colpick.js" type="text/javascript"></script>
<script>
  function pad(num, size) {
      var s = "000" + num;
      return s.substr(s.length-size);
  }
  $('#picker').colpick({
    flat:true,
    layout:'RGB',
    submit:0,
    onChange:function(hsb,hex,rgb,el,bySetColor) {
      //eg. {r:255, g:0, b:0})
      document.getElementById("light-value").value = pad(rgb.r,3) + ',' + pad(rgb.g,3) + ',' + pad(rgb.b,3);
      toggleLights();
    }
  });

  var device;
  // This gets called when a user finishes the login flow.
  sparkLogin(function(data){
      // Your code here
      var result = document.getElementById("result");
      result.innerHTML = "You are now logged in! </br> Give us a moment while we find your devices.";
      document.getElementById("spark-login").style.visibility = 'hidden';
      document.getElementById("toggle-lights").style.visibility = 'visible';
      console.log(data);
      console.log(spark);
      
      spark.listDevices(function(err, devices) {
        device = devices[1];

        console.log('Device name: ' + device.name);
        result.innerHTML = 'Device name: ' + device.name + '</br>';
        console.log('- connected?: ' + device.connected);
        result.innerHTML += '- connected?: ' + device.connected + '</br>';
        console.log('- variables: ' + device.variables);
        result.innerHTML += '- variables: ' + device.variables + '</br>';
        console.log('- functions: ' + device.functions);
        result.innerHTML += '- functions: ' + device.functions + '</br>';
        console.log('- version: ' + device.version);
        result.innerHTML += '- version: ' + device.version + '</br>';
        console.log('- requires upgrade?: ' + device.requiresUpgrade);
        result.innerHTML += '- requires upgrade?: ' + device.requiresUpgrade + '</br>';
      });
  });
  
  function toggleLights(){
    console.log("toggleLights was called");

    device.callFunction('switchColor', document.getElementById("light-value").value, function(err, data) {
      if (err) {
        console.log('An error occurred:', err);
        result.innerHTML += 'An error occured: ' + err;
      } else {
        console.log('Function called succesfully:', data);
        result.innerHTML += 'Function called succesfully ' + data;
      }
    });
  }
</script>